body,
html {
    background-color: #F9E9EC0F;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;

}


header {
    background-color: #0EB1D2;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
    border: 0;
    font-size: 100%;
}

h1 {
    color: #2B4141;
    text-align: center;

}


/*Nav Bar*/
nav {
    background-color: #0EB1D2;
    margin-right: 75px;
    text-align: center;
}

nav img {
    float: left;
    margin: 10px 15px 10px 10px;
    width: 50px;
    height: 50px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    list-style-type: none;
}

nav>ul>li>a {
    color: #2B4141;
    display: block;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-right: 20px;
    text-decoration: none;
    font-size: large;
}

li a:hover {
    background-color: #F9E9EC;
    color: #34E4EA;
}

.active {
    background-color: #2B4141;
    color: #FAC748;
}

/*
Main Webpage Bodies
*/
#main-body {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#main-body>h1 {
    text-align: center;
}

#main-body p {
    text-indent: 50px;
}

#cv {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#cv a {
    text-align: center;
}

#cvbody {
    text-align: center;
}

#summary {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#summary p {
    text-align: left;
    float: left;
}

#projects {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#projects h2 {
    text-align: center;
}

#projects a {
    text-decoration: none;
    color: #2B4141;
}


.project {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
    color: #2B4141;
    transition: all 200ms ease-in-out
}

.project:hover {
    background-color: #2B4141;
    color: #F9E9EC;
    transform: scale(1.2);
}


#activities {
    color: #2B4141;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#activities h2 {
    text-align: center;
}

.activity {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container {
    border-radius: 5px;
    padding: 20px;
    width: 40%;
    margin: auto;
}

input[type=text],
textarea,
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #FAC748;
    color: #0EB1D2;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #2B4141;
}

.label-col {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.input-col {
    float: left;
    width: 70%;
    margin-top: 6px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .label-col,
    .input-col,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.link {
    display: inline;
}

/*Colors
#F9E9EC : Lavendar Blush, whitish purple
#FAC748 : Maize Crayola, yellow
#34E4EA : Fluorescent Blue, light blue
#0EB1D2 : Pacific Blue, dark blue
#2B4141 : Dark Slate Gray, dark gray


*/